body {
    margin: 0;
    padding: 0;
}
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
.map-overlay {
    position: absolute;
    left: 0;
    padding: 10px;
}

.marker {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

button {
    font-size: 2em;
}
.mapboxgl-popup {
    max-width: 200px;
  }
  
  .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }